# Exercises on pandas Basics

## 1. Getting Started
We first import `pandas` and load a table into a DataFrame.

In [2]:
import pandas as pd

countries = pd.read_csv('large_countries_2015.csv', index_col=0)

In [3]:
%matplotlib inline

## 2. Working with DataFrames
To view the contents of a data frame, type its name:

In [4]:
countries

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

## 3. Examining DataFrames
Match the Python commands with the descriptions below. 

*In Jupyter, you can move the descriptions up/down with the arrow buttons.*

#### Show the first 3 lines

In [6]:
countries.head(3)

              population  fertility      continent
Bangladesh  1.609956e+08       2.12           Asia
Brazil      2.078475e+08       1.78  South America
China       1.376049e+09       1.57           Asia

#### Show the last 3 lines

In [ ]:
countries.tail(3)

#### Summarize all numerical columns

In [10]:
countries.describe()

         population  fertility
count  1.200000e+01  12.000000
mean   3.753462e+08   2.437500
std    4.565194e+08   1.200781
min    1.006994e+08   1.450000
25%    1.393470e+08   1.737500
50%    1.855634e+08   2.125000
75%    2.736163e+08   2.567500
max    1.376049e+09   5.890000

#### Mean of a column

In [ ]:
countries['population'].mean()

#### Summarize categorical data

In [7]:
countries['continent'].value_counts()

Asia             7
North America    2
Europe           1
Africa           1
South America    1
Name: continent, dtype: int64

#### Number of rows and columns

In [11]:
countries.shape

(12, 3)

#### Extract distinct values

In [12]:
countries['continent'].unique()

array(['Asia', 'South America', 'North America', 'Africa', 'Europe'],
      dtype=object)

#### Apply a calculation to each value in a column

In [9]:
countries['population'] // 1000000

Bangladesh        160.0
Brazil            207.0
China            1376.0
India            1311.0
Indonesia         257.0
Japan             126.0
Mexico            127.0
Nigeria           182.0
Pakistan          188.0
Philippines       100.0
Russia            143.0
United States     321.0
Name: population, dtype: float64

## 4. Selecting rows and columns
Match the Python commands with the descriptions below.

#### Display column labels

In [16]:
countries.columns

Index(['population', 'fertility', 'continent'], dtype='object')

#### Display row index

In [ ]:
countries.index

#### Select one column

In [15]:
countries['continent']

Bangladesh                Asia
Brazil           South America
China                     Asia
India                     Asia
Indonesia                 Asia
Japan                     Asia
Mexico           North America
Nigeria                 Africa
Pakistan                  Asia
Philippines               Asia
Russia                  Europe
United States    North America
Name: continent, dtype: object

#### Select multiple columns

In [14]:
countries[['population', 'continent']]

                 population      continent
Bangladesh     1.609956e+08           Asia
Brazil         2.078475e+08  South America
China          1.376049e+09           Asia
India          1.311051e+09           Asia
Indonesia      2.575638e+08           Asia
Japan          1.265735e+08           Asia
Mexico         1.270172e+08  North America
Nigeria        1.822020e+08         Africa
Pakistan       1.889249e+08           Asia
Philippines    1.006994e+08           Asia
Russia         1.434569e+08         Europe
United States  3.217736e+08  North America

#### Select row by an index value

In [19]:
countries.loc['India']

population    1.31105e+09
fertility            2.43
continent            Asia
Name: India, dtype: object

#### Extract raw data as a NumPy array

In [13]:
countries.iloc[3:7]

             population  fertility      continent
India      1.311051e+09       2.43           Asia
Indonesia  2.575638e+08       2.28           Asia
Japan      1.265735e+08       1.45           Asia
Mexico     1.270172e+08       2.13  North America

#### Filter rows by a condition

In [18]:
countries[countries['population'] > 200000000]

                 population  fertility      continent
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
United States  3.217736e+08       1.97  North America

#### Select rows by slicing the index

In [17]:
countries.values

array([[160995642.0, 2.12, 'Asia'],
       [207847528.0, 1.78, 'South America'],
       [1376048943.0, 1.57, 'Asia'],
       [1311050527.0, 2.43, 'Asia'],
       [257563815.0, 2.28, 'Asia'],
       [126573481.0, 1.45, 'Asia'],
       [127017224.0, 2.13, 'North America'],
       [182201962.0, 5.89, 'Africa'],
       [188924874.0, 3.04, 'Asia'],
       [100699395.0, 2.98, 'Asia'],
       [143456918.0, 1.61, 'Europe'],
       [321773631.0, 1.97, 'North America']], dtype=object)

## 5. Summarizing Data
Match the Python commands with the descriptions below.

#### Cumulatively apply a sum over a column

In [20]:
countries['fertility'].cumsum()

Bangladesh        2.12
Brazil            3.90
China             5.47
India             7.90
Indonesia        10.18
Japan            11.63
Mexico           13.76
Nigeria          19.65
Pakistan         22.69
Philippines      25.67
Russia           27.28
United States    29.25
Name: fertility, dtype: float64

#### Calculate sum of one column grouped by a second one

In [21]:
countries.groupby('continent')['population'].sum()

continent
Africa           1.822020e+08
Asia             3.521857e+09
Europe           1.434569e+08
North America    4.487909e+08
South America    2.078475e+08
Name: population, dtype: float64

#### Sort values

In [ ]:
countries.sort_values(by=['continent', 'fertility'])

#### Create a new column using a function

In [22]:
def get_initial(s):
    return s[0]

countries['initial'] = countries['continent'].apply(get_initial)
countries

                 population  fertility      continent initial
Bangladesh     1.609956e+08       2.12           Asia       A
Brazil         2.078475e+08       1.78  South America       S
China          1.376049e+09       1.57           Asia       A
India          1.311051e+09       2.43           Asia       A
Indonesia      2.575638e+08       2.28           Asia       A
Japan          1.265735e+08       1.45           Asia       A
Mexico         1.270172e+08       2.13  North America       N
Nigeria        1.822020e+08       5.89         Africa       A
Pakistan       1.889249e+08       3.04           Asia       A
Philippines    1.006994e+08       2.98           Asia       A
Russia         1.434569e+08       1.61         Europe       E
United States  3.217736e+08       1.97  North America       N

#### Move columns to a new index level

In [23]:
countries.stack()

Bangladesh     population      1.60996e+08
               fertility              2.12
               continent              Asia
               initial                   A
Brazil         population      2.07848e+08
               fertility              1.78
               continent     South America
               initial                   S
China          population      1.37605e+09
               fertility              1.57
               continent              Asia
               initial                   A
India          population      1.31105e+09
               fertility              2.43
               continent              Asia
               initial                   A
Indonesia      population      2.57564e+08
               fertility              2.28
               continent              Asia
               initial                   A
Japan          population      1.26573e+08
               fertility              1.45
               continent              Asia
               initial                   A
Mexico         population      1.27017e+08
               fertility              2.13
               continent     North America
               initial                   N
Nigeria        population      1.82202e+08
               fertility              5.89
               continent            Africa
               initial                   A
Pakistan       population      1.88925e+08
               fertility              3.04
               continent              Asia
               initial                   A
Philippines    population      1.00699e+08
               fertility              2.98
               continent              Asia
               initial                   A
Russia         population      1.43457e+08
               fertility              1.61
               continent            Europe
               initial                   E
United States  population      3.21774e+08
               fertility              1.97
               continent     North America
               initial                   N
dtype: object

#### Swap rows and columns

In [ ]:
countries.transpose()

#### Draw a histogram

In [ ]:
countries['fertility'].hist()

#### Draw a scatterplot

In [ ]:
countries.plot('population', 'fertility', style='ro')

## License
(c) 2017 Kristian Rother
Distributed under the conditions of the MIT License.